<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>926016702092-8l88jtr12jpljjflq1l8ao5uag7ngd87.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.926016702092-8l88jtr12jpljjflq1l8ao5uag7ngd87</string>
	<key>API_KEY</key>
	<string>AIzaSyCsJQJ8mJSAnAavTe-1xZfwSqtiYT_kerI</string>
	<key>GCM_SENDER_ID</key>
	<string>926016702092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.yhack.Investment-Hero</string>
	<key>PROJECT_ID</key>
	<string>investment-hero</string>
	<key>STORAGE_BUCKET</key>
	<string>investment-hero.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:926016702092:ios:7900ced26047a5bb</string>
	<key>DATABASE_URL</key>
	<string>https://investment-hero.firebaseio.com</string>
</dict>
</plist>